.container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.nav-wr {
    width: 100%;
    max-width: 1100px;
    padding: 0;
    margin: 0 auto;
}

.parent {
    display: block;
    position: relative;
    float: left;
    background-color: #333333;
    border-bottom: 5px solid #3d86f3;
    color:#E5E5E5;
    height: 50px;
    width: 250px;
    margin: 0;
    padding: 15px 0 0 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-content: center;
}

.parent a {
    margin: 0;
    padding: 0;
    color: #E5E5E5;
    text-decoration: none;
}

.parent:hover > ul {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
}

.child {
    display: none;
    padding: 0;
    margin: 0;
    top: 51px;
    left: 1px;
}

.child a {
    padding: 15px;
    margin: 0;
}

.last-child {
    display: none;
    padding: 0;
    margin: 0;
}

.child li {
    background-color: #3d86f3;
    line-height: 50px;
    border: 1px solid #333333;
    height: 50px;
    width: 250px;
    margin: -1px;
    padding: 0;
}

.child li a {
    color:  #E5E5E5;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    min-width: 10em;
}

ul ul ul {
    left: 100%;
    top: 0;
    margin-left: 1px;
}

li:hover {
    background-color: #3d86f3;
}

.parent li:hover {
    background-color: #3d86f3;
}

.expand {
    font-size: 12px;
    float: right;
    margin-right: 15px;
    padding: 0;
}