body {
    width: 100%;
    background: #EEEFF1;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}

header {
    padding: 79px;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

nav {
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
}

nav:hover {
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-decoration: underline solid #34547A;
}

nav a {
    text-decoration: none;
    color:black;
}

nav a:hover {
    text-decoration: underline solid #34547A;
    color:black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;    

}

nav ul li {
    margin-left: -4px;
    line-height: 26px;
    letter-spacing: 0.1em;
    display: inline-block;
}

nav ul li+li {
    padding-left: 42px;
}

.checked {
    font-weight: 500;
    color: #34547A;
}

.first-screen {
    padding: 79px 0 0 0;
}

.text-block {
    max-width: 540px;
    margin: 0;
}

h1 {
    color:black;
    font-size: 48px;
    line-height: 78px;
    font-weight: 500;
}

.button {
    text-decoration: none;
    display: inline-block;
    background-color: #34547A;
    text-align: center;
    width: 225px;
    margin-top: 80px;
    margin-bottom: 80px;
    letter-spacing: 0.1em;
    color: white;
    font-size: 16px;
    line-height: 19px;
    padding: 23px 0;
    text-transform: uppercase;
}

.button:hover {
    text-decoration: underline solid white;
    display: inline-block;
    background-color: #34547A;
    text-align: center;
    width: 225px;
    margin-top: 80px;
    letter-spacing: 0.1em;
    color: white;
    font-size: 16px;
    line-height: 19px;
    padding: 23px 0;
    text-transform: uppercase;
}

.second-screen {
    background-color: #F9F9F9;
    width: 100%;
}

.about {
    width: 100%;
    margin: 0px auto;
    padding: 112px 0;
    max-width: 540px;
    text-align: center;

}

h2 {
    font-size: 32px;
    line-height: 37px;
    font-weight: 500;
    color: #000000;
}

.fourth-screen {
    width: 100%;
    text-align: center;
}

.project {
    background-color: #34547A;
    text-align: center;
    padding: 100px 0;
    width: 100%;
}

.third-screen {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
}

.project ul li {
    list-style: none;
    color: white;
    display: inline-block;
}

img {
    width: 46px;
    margin: 0 10px;
}

.group, span {
    width: 71px;
    display: inline-block;
    text-align: left;
}

.number {
    font-size: 21px;
    line-height: 21px;
    font-weight: 500;
}

.text {
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
    line-height: 26px;
}

.fourth-screen {
    width: 100%;
}

.how {
    width: 100%;
    max-width: 540px;
    margin: 0px auto;
    padding: 100px 0;
    text-align: center;
}

.u-tube {
    display: block;
    margin:0 auto;
    width: 1140px;
    height: 600px;
    border: 0;
}

footer {
    background-color: #34547A;
    text-align: left;
    font-size: 13px;
    line-height: 21px;
    color: white;
    width: 100%;
    padding-bottom: 25px;
    padding-top: 25px;
}

.f-cover {
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;

}

h3 {
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    padding: 0 15px;
    margin: 0 auto;
}

.f-cover p {
    padding: 0 15px;
    margin: 0 auto;
}
